body{
    background-color: #444444;
    font: normal 100%;

}
table{
    background-color: #eeeeee;
    width: 400px;
    margin: auto;
    font-size: 1.5em;
}
caption{
    color: white;
    font-size: 2em;
}
#sub,#res{
    width: 200px;
    height: 40px;
    font-size: 1em;
    background-color: #aaaaaa;
}
tr td:first-child{
    text-align: right;
}